@font-face {
  font-family: "ArciformSans";
  font-display: swap;
  src: url("../fonts/ArciformSans.woff") format("woff"), url("../fonts/ArciformSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PickleJuice";
  font-display: swap;
  src: url("../fonts/PickleJuice.woff") format("woff"), url("../fonts/PickleJuice.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "ArciformSans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "ArciformSans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.wrapper::after,
.wrapper::before {
  content: '';
  position: fixed;
  z-index: 10;
  height: 20px;
  width: 100%;
  left: 0;
}

.wrapper::after {
  bottom: 0;
  background: #fff url("../img/border-bottom.svg") center 4px repeat-x;
  background-size: auto 20px;
}

.wrapper::before {
  top: 0;
  background: #fff url("../img/border-top.svg") center -3px repeat-x;
  background-size: auto 20px;
}

.wrapper_drink {
  background: url("../img/drink/main-bg.png") center/cover no-repeat;
}

.wrapper_drink::after {
  background: #28272a url("../img/drink/border-bottom-white.svg") center 4px repeat-x;
}

.wrapper_drink::before {
  background: #28272a url("../img/drink/border-top-yellow.svg") center -3px repeat-x;
}

.wrapper_drink .item-menu_specification {
  color: #fff;
}

.wrapper_drink .item-menu__name {
  color: #fff;
}

.wrapper_drink .main__footer {
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  position: relative;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 35px 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 60px;
  height: 110px;
  top: 120px;
  left: -25px;
  background: url("../img/food.svg") center/100% no-repeat;
}

.main::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 33px;
  height: 80px;
  top: 45px;
  right: 10px;
  background: url("../img/coffee01.svg") center/100% no-repeat;
}

.main_drink {
  background: url("../img/drink/menu-bg.png") center top/contain;
}

.main_drink::before,
.main_drink::after {
  display: none;
}

.main_summer {
  background: url("../img/summer/bg.svg") top center/300px;
}

.main_summer .main__logo {
  margin: 30px auto 50px;
  width: 135px;
}

.main_summer::after {
  display: none;
}

.main_summer::before {
  width: 50px;
  left: 15px;
  background: url("../img/summer/lime.svg") center/100% no-repeat;
}

.main__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__button {
  display: inline-block;
  min-width: 260px;
  margin-top: 25px;
  padding: 15px 20px 5px;
  font-size: 42px;
  font-family: 'PickleJuice', sans-serif;
  text-align: center;
  color: #fff;
  background-color: #FA4D24;
  border-radius: 5px;
}

.main__button_drink {
  background-color: #270A7C;
}

.main__button_back {
  margin-top: 0;
  padding: 10px 30px 2px;
  font-size: 28px;
}

.main__button_summer {
  background-color: #FA3880;
}

.main__logo {
  margin: 0 auto 15px;
  width: 170px;
}

.main__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__footer img {
  position: relative;
  display: inline-block;
  left: 55px;
  width: 140px;
}

.main__footer_summer {
  position: relative;
  margin-bottom: 100px;
}

.main__footer_summer img {
  position: absolute;
  width: 230px;
  height: 100px;
  left: calc(50% - 115px);
  bottom: -120px;
}

.menu__block {
  padding-bottom: 10px;
}

.menu__block_world .menu__title {
  color: #EB9508;
}

.menu__block_world .menu__title span {
  background-color: #EB9508;
}

.menu__block_world .item-menu__cost {
  color: #EB9508;
}

.menu__block_rolls .menu__title {
  color: #FA4D24;
}

.menu__block_rolls .menu__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 62px;
  height: 52px;
  top: -5px;
  right: -50px;
  background: url("../img/sushi-rolls01.svg") center/100% no-repeat;
}

.menu__block_rolls .item-menu__cost {
  color: #FA4D24;
}

.menu__block_sushi .menu__title {
  color: #3BB34B;
}

.menu__block_sushi .menu__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 47px;
  height: 43px;
  top: -5px;
  left: -23px;
  background: url("../img/coffee02.svg") center/100% no-repeat;
}

.menu__block_sushi .menu__title span {
  background-color: #3BB34B;
}

.menu__block_sushi .item-menu__cost {
  color: #3BB34B;
}

.menu__block_hosomaki::before,
.menu__block_hosomaki::after {
  content: '';
  display: block;
  width: 200px;
  height: 19px;
  margin: 0 auto 10px;
  background: url("../img/border-block.svg") center/100% no-repeat;
}

.menu__block_hosomaki::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__block_hosomaki .menu__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 43px;
  height: 65px;
  top: -10px;
  left: -40px;
  background: url("../img/sheet.svg") center/100% no-repeat;
}

.menu__block_nigiri .menu__title {
  color: #270A7C;
}

.menu__block_nigiri .menu__title::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 45px;
  top: -5px;
  left: -20px;
  background: url("../img/coffee03.svg") center/100% no-repeat;
}

.menu__block_nigiri .menu__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 74px;
  height: 51px;
  top: -5px;
  right: -30px;
  background: url("../img/coffee04.svg") center/100% no-repeat;
}

.menu__block_nigiri .item-menu__cost {
  color: #270A7C;
}

.menu__block_sashimi .menu__title::after {
  width: 15px;
  height: 17px;
  top: -5px;
  right: 25px;
  background: url("../img/coffee05.svg") center/100% no-repeat;
}

.menu__block_gin .menu__title {
  color: #FFEC02;
}

.menu__block_gin .item-menu__cost {
  color: #FFEC02;
}

.menu__block_brunch .menu__title {
  color: #FA3880;
}

.menu__block_brunch .menu__title span {
  background-color: #FA3880;
}

.menu__block_brunch .item-menu__cost {
  color: #FA3880;
}

.menu__block_lemon img:nth-of-type(1) {
  display: none;
}

.menu__block_lemon img:nth-of-type(2) {
  display: none;
}

.menu__block_lemon img:nth-of-type(3) {
  display: block;
  margin: 0 auto 20px;
  width: 80%;
}

.menu__block_cockt {
  margin-bottom: 20px;
  padding: 5px;
  background-color: #fff;
}

.menu__block_cockt .item-menu_specification {
  color: #000;
}

.menu__block_cockt .item-menu__name {
  color: #000;
}

.menu__block_beers .image {
  display: block;
  margin: 15px auto;
  width: 70%;
}

.menu__block_beers .image_rot {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__block_wine .menu__title {
  color: #FA3880;
}

.menu__block_wine .menu__subtitle {
  font-size: 24px;
  font-family: 'PickleJuice', sans-serif;
  color: #EB9508;
}

.menu__block_wine .item-menu__cost {
  color: #FA3880;
}

.menu__block_summer {
  position: relative;
  margin-bottom: 80px;
}

.menu__block_summer::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: -50px;
  left: 0;
  background: url("../img/summer/lemon.svg") center/100% no-repeat;
}

.menu__block_summer::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 50px;
  bottom: -20px;
  right: -15px;
  background: url("../img/summer/strawbery.svg") center/100% no-repeat;
}

.menu__block_summer .menu__title {
  margin-bottom: 50px;
  color: #FA3880;
}

.menu__block_summer .menu__title span {
  background-color: #FA3880;
}

.menu__block_summer .item-menu {
  margin-bottom: 30px;
}

.menu__block_summer .item-menu__cost {
  color: #FA4D24;
}

.menu_wrapper {
  padding: 10px;
  border: 3px dashed #000;
}

.menu__title {
  position: relative;
  margin-bottom: 17px;
  font-size: 42px;
  font-family: 'PickleJuice', sans-serif;
  text-align: center;
}

.menu__title span {
  display: inline-block;
  padding: 9px 9px 0;
  color: #fff;
}

.menu__subtitle {
  margin-top: -15px;
  margin-bottom: 12px;
  font-size: 16px;
  text-align: center;
}

.menu__row_gin img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.menu__column img {
  display: block;
  margin: 0 auto 20px auto;
  width: 70%;
}

.item-menu {
  margin-bottom: 12px;
}

.item-menu_specification {
  font-size: 9px;
  color: #666;
}

.item-menu__top {
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item-menu__name {
  font-size: 16px;
}

.item-menu__delimiter {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 5px 0;
  height: 12px;
  background: url("../img/dotted-line.svg") left center/cover no-repeat;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.item-menu__cost {
  font-size: 21px;
  text-transform: uppercase;
  white-space: nowrap;
}

.item-menu__cost span {
  font-size: 12px;
}

@media (min-width: 550px) {
  .menu__block_lemon img:nth-of-type(1) {
    display: block;
    width: 50px;
    margin-bottom: -20px;
  }

  .menu__block_lemon img:nth-of-type(2) {
    display: block;
    margin: 0 0 20px 150px;
    width: 40px;
  }

  .menu__block_lemon img:nth-of-type(3) {
    width: 100%;
    margin-top: 40px;
  }

  .menu__row_gin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__row_gin .menu__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }

  .menu__row_gin img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    width: 48%;
    margin-right: 4%;
  }

  .menu__row_brunch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__row_brunch .menu__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }

  .menu__row_lemon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__row_lemon .menu__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }

  .menu__row_wine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
}